.vscode/
*.code-workspace

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules/
dist/
build/

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
.env
.venv/
env/
venv/

ENV/
env.bak/

.DS_Store
Thumbs.db

*.tmp
*.swp

coverage/
*.cover
*.coverage
*.lcov

.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.bak
*.lock
